/* common */
body {
  padding-top: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
}
h1,
h2,
h3 {
  font-weight: 700;
}

/* decoration */
.section_decoration {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 10px 0;
}
.section_decoration > span {
  vertical-align: middle;
}
.decoration_line {
  display: inline-block;
  height: 2px;
  width: 10%;
  min-width: 80px;
  max-width: 120px;
  background-color: #ffffff;
  border-radius: 5px;
}
.dark_line {
  background-color: #020202;
}

/* ----- header ----- */
/* navbar */
.navbar.ms_navbar {
  background-color: #2c3e50;
  font-weight: 700;
}

.ms_navbar .navbar-brand {
  height: 60px;
  line-height: 30px;
  font-size: 1.5em;
  color: #ffffff;
}

.ms_navbar .navbar-nav > li > a {
  line-height: 30px;
  color: #ffffff;
}
.ms_navbar .nav > li > a:focus,
.ms_navbar .nav > li > a:hover {
  background-color: transparent;
  color: #1abc9c;
}
/* .ms_navbar .nav > li > a:active {
  background-color: #1abc9c;
  color: #ffffff;
} */

.ms_navbar .navbar-toggle {
  margin-top: 13px;
  border-color: #ffffff;
}
.ms_navbar .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

/* jumbotron */
#jumbotron {
  padding: 60px 0;
  background-color: #1abc9c;
}
#jumbotron img {
  height: 200px;
}
#jumbotron p {
  font-weight: 700;
}

/* ----- main ----- */
main > section {
  padding: 60px 0;
}

/* #portfolio */
#portfolio img {
  margin: 15px 0;
}

#portfolio,
#contact_me {
  color: black;
}

/* #about */
#about {
  background-color: #1abc9c;
}
#about p {
  margin: 15px 0;
}

.btn_green {
  color: #ffff;
  background-color: #1abc9c;
  border-color: #ffff;
  transition: background-color 0.4s;
}
#about .btn_green:hover {
  color: #000000;
  background-color: #ffff;
  border-color: #ffff;
}

/* #contact_me */
#contact_me .form-control {
  height: 70px;
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid #cccccc;
}
#contact_me input {
  /* border-width: 0; */
  border-radius: 0;
}
#contact_me input::placeholder {
  color: #000000;
}

#contact_me label {
  text-align: left;
  font-size: 0.8em;
  font-weight: 500;
  color: #1abc9c;
}

#contact_me form .btn {
  background-color: #1abc9c;
  color: #ffffff;
}
#contact_me form .btn:hover {
  background-color: #159a80;
}

/* ----- footer ----- */
#info {
  height: 120px;
  background-color: #3a546d;
}
#copyright {
  height: 40px;
  background-color: #2c3e50;
}
