/* debug */
.debug .container-fluid {
  background-color: blue;
}
.debug .container {
  background-color: lightskyblue;
}
.debug [class*="col-"] {
  min-height: 100px;
  background-color: yellow;
  border: 1px solid red;
}
.debug [class*="col-"] [class*="col-"] {
  height: 100px;
  background-color: white;
  border: 1px solid black;
}

/* debug */

body {
  color: #ffffff;
}
/* h2 {
  text-transform: uppercase;
} */

/* header */
.navbar_header {
  height: 40px;
  background-color: #2c3e50;
}
.jumbotron_header {
  height: 400px;
  background-color: #1abc9c;
}

/* main */
/* main img {
  width: 100%;
  border-radius: 15px;
} */
/* main h2 {
  text-align: center;
} */
#portfolio h2,
#contact_me {
  color: black;
}

#about {
  background-color: #1abc9c;
}

#contact_me {
  height: 400px;
}

/* footer */
/* footer {
  text-align: center;
} */
#info {
  height: 120px;
  background-color: #3a546d;
}
#copyright {
  height: 40px;
  background-color: #2c3e50;
}
